# ****************************************************
# launch script config values
# 2020-03 mamund
#
# svc         : command to launch API locally
# test_folder : location of test scripts
# test_pre    : command to launch local tests
# deploy      : command to launch service deployment
# test_post   : command to launch remote tests
#
# ****************************************************

svc="npm run dev"
test_folder="tests/postman"
test_pre="./test-run.sh local"
test_post="./test-run.sh remote"
deploy="git push heroku master"

# EOF

