#############################################################
# test-run config values
#############################################################

title="BigCo Company Tests"

testfile="test-collection.json"
envfile="test-environment.json"
outfile="test-output.txt"

# EDIT THESE VALUES TO MATCH YOUR TEST COLLECTION/ENV VALUES
collid="48501-e8b3b37c-13ab-4eb9-9070-466bd8552699"
local_envid="48501-3ed1e4f5-d531-42ef-a044-95ea24c8649f"
remote_envid="48501-2ddd8578-43f1-41a6-9a7f-6ba2bdd1c9e8"

#############################################################
# EOF
#############################################################

